<!-- <header>
    <nav class="PhoneBooknavBar__wrapper" sticky-top>
        <div class="navLinks">
            <ul>
                <img src="https://img.icons8.com/cute-clipart/64/000000/home.png" (click)="home()" />
            </ul>
            <ul>
                <img src="https://img.icons8.com/external-inipagistudio-mixed-inipagistudio/64/000000/external-add-distant-friend-inipagistudio-mixed-inipagistudio.png" (click)="add()" />
            </ul>
            <ul>
                <img src="https://img.icons8.com/plasticine/100/000000/about.png"/>	
            </ul>
        </div>
    </nav>
</header> -->

<nav class="navbar  sticky-top ">
    <div class="container">
        <ul>
            <img src="https://img.icons8.com/cute-clipart/64/000000/home.png" (click)="home()" />
        </ul>
        <ul>
            <img src="https://img.icons8.com/external-inipagistudio-mixed-inipagistudio/64/000000/external-add-distant-friend-inipagistudio-mixed-inipagistudio.png" (click)="add()" />
        </ul>
        <ul>
            <img src="https://img.icons8.com/plasticine/100/000000/about.png"/>	
        </ul> 
    </div>
</nav>


