

<div class="wrapper_search">
  <ngx-ui-loader ></ngx-ui-loader>
  <div class="top_bar">
    <form  [formGroup]="SearchForm">
      <button class="input-group-text border-0" id="search-addon" (click)="add()">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
      <input type="text" class="form-control form-control-sm mr-3 w-100" formControlName="option" placeholder="Search" > 
      <button class="input-group-text border-0" id="search-addon" (click)="submit()">
        <i class="fas fa-search"></i>
      </button> 
    </form>
    
  </div>


  <div class="row" *ngFor="let list of phoneBookList">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title"><img src="https://img.icons8.com/pastel-glyph/64/000000/person-male--v1.png"/> {{list.name}}</h1>
          <h4 class="card-text"><img src="https://img.icons8.com/cute-clipart/64/000000/add-phone-number.png"/> Phone : {{list.phone}}</h4>
          <h4 class="card-text"><img src="https://img.icons8.com/dusk/64/000000/email.png"/> Email : {{list.email}}</h4>

          <button class="__buttons" type="button" >
            <img src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/64/000000/external-delete-multimedia-kiranshastry-lineal-color-kiranshastry.png" (click)="delete(list.id)"/>
            
          </button>
          <button class="__buttons">
            <img src="https://img.icons8.com/cute-clipart/64/000000/edit.png" (click)="selected(list)" (click)="edit(list.id)"/>
          </button>
    
        </div>
      </div>
    </div>
 
</div>
