
<!-- <a routerLink="/phonebook-entry">Add new phonebook entry</a> -->

<!-- Search form -->
<div class="wrapper_search">
  <ngx-ui-loader ></ngx-ui-loader>
  <div class="top_bar">
    <form  [formGroup]="SearchForm">
      <button class="input-group-text border-0" id="search-addon" (click)="add()">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
      <input type="text" class="form-control form-control-sm mr-3 w-100" formControlName="option" placeholder="Search" > 
      <button class="input-group-text border-0" id="search-addon" (click)="submit()">
        <i class="fas fa-search"></i>
      </button> 
    </form>
    
  </div>
  <table class="table" >
    <thead>
      <tr>
        
        <th scope="col">Name </th>
        <th scope="col">Number</th>
        <th scope="col">Email</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of phoneBookList">
       
        <td>{{list.name}}</td>
        <td>{{list.phone}}</td>
        <td>{{list.email}}</td>
        
        <td>
          <div class="edit_buttons">
            <button type="button" class="delete">
              <i class="fas fa-times" (click)="delete(list.id)"></i>
            </button>
            <button type="button" class="update">
              <i class="fas fa-edit" (click)="edit(list.id)"></i>
            </button>
          </div>
          
        </td>
      </tr>
      
    </tbody>
  </table>
  


</div>
