$tablet: 750px;
$desktop: 768px;

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}
////////////////////query set-up ends/////////////////
.wrapper_search{

    min-height: 500px;
    margin: 1em 0;
    padding: 0 0.5em;
    width: 100%;
   

    .top_bar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
       
        margin-bottom: 1em;
        form{

            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            
            border: none;
        }


    }
    .card{
        margin: .5rem;
    }
    img {
        height: 2.5rem;
    }
    .__buttons{
    
       
       justify-content: center;
       float:right;
       border: none;
    }
    i{
        color: orange;
        
    }
    button {
        margin-right: 1em;
        
        border: none;
       
    }
    span {
        width: 3em;
    }
   
    @include tablet(){
       width: 100%;

    }
    .card{
        min-height: 4em;
        min-width: 4em;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
    }
    
     @include desktop(){

        width: 100%;
        margin: auto;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        .card{
            height: 15rem;
            width: 40rem;
        }
     }
    
}
span {
    width: 3em;
}